<%= form_for(@voorstel) do |f| %>
  <% if @voorstel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voorstel.errors.count, "error") %> prohibited this voorstel from being saved:</h2>

      <ul>
      <% @voorstel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Uw naam' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :place, 'De plaats die u wilt voorstellen' %><br />
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :time, 'De tijdsspanne die u voorziet' %><br />
    <%= f.select :time, [['0:30'],
                        ['1:00'],
                        ['1:30'],
                        ['2:00'],
                        ['2:30'],
                        ['3:00'],
                        ['3:30'],
                        ['4:00'],
                        ['4:30'],
                        ['5:00']] %>
  </div>
  <div class="field">
    <%= f.label :content, 'Opmerkingen bij het voorstel' %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Stel voor", :class =>'btn btn-medium btn-inverse' %>
  </div>
<% end %>
