<h1>Lijst van voorstellen</h1>
<% @voorstels.each do |voorstel| %>
<div class="voorstellen">
  
  <table>
    <tr>
      <th>Naam</th>
      <th>Plaats</th>
      <th>Tijdspan</th>
      <th>Opmerking</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <td><%= voorstel.name %></td>
      <td><%= voorstel.place %></td>
      <td><%= voorstel.time %></td>
      <td><%= voorstel.content %></td>
    </tr>
    <tr colspan="4">
      <td><%= link_to 'Toon', voorstel, :class => "linkvoorstellen" %>
          <%= link_to 'Wijzig', edit_voorstel_path(voorstel), :class => "linkvoorstellen" %>
          <%= link_to 'Delete', voorstel, method: :delete, data: { confirm: 'Are you sure?' }, :class => "linkvoorstellen" %>
      </td>
    </tr>
  </table>

</div>
<% end %>

<%= link_to 'Nieuw voorstel', new_voorstel_path, :class => "newvoorstel" %>
