<p id="notice"><%= notice %></p>

<p>
  <b>Naam:</b>
  <%= @voorstel.name %>
</p>

<p>
  <b>Plaats:</b>
  <%= @voorstel.place %>
</p>

<p>
  <b>Tijdspanne:</b>
  <%= @voorstel.time %>
</p>

<p>
  <b>Opmerking:</b>
  <%= @voorstel.content %>
</p>


<%= link_to 'Edit', edit_voorstel_path(@voorstel) %> |
<%= link_to 'Back', voorstels_path %>
